.main-page{
    background-image: url(../assests/background-image.png);
    height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.logo img{
    height: 70px;
    width: 300;
    padding-top: 15;
}
.navbar{
    /*position: fixed;*/
}
.navbar-content{
    padding: 0 20;
    display: flex;
    align-items: center;
}
#navbar-left{
    width: 40%;
    display: flex;
    align-items: center;
}
#navbar-right{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 25;
}
.menu-links{
    justify-content: end;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    display: flex;
    letter-spacing: 1.5px;
}
.menu-links li{
    margin-left: 20;
    margin-right: 10;
    color: #6F7073;
    font-weight: 800;
    font-size: 14px;
}
.menu-links a{
    text-decoration: none;
}
#ourmission:hover{
    color: #e4a42d;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #e4a42d;
}
#grow:hover{
    color: #e4a42d;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #e4a42d;
}
#farms:hover{
    color: #e4a42d;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #e4a42d;
}
#products:hover{
    color: #e4a42d;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #e4a42d;
}
#buy:hover{
    color: #e4a42d;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #e4a42d;
}
#faq:hover{
    color: #e4a42d;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid #e4a42d;
}
.main-page-content{
    color: white;
    font-weight: bolder;
    font-size: 60;
    margin-left: 150;
    padding-top: 50;
}
#sunshine{
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1;
    font-style: italic;
}
#sunshine2{
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
    line-height: 1;
}
