@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');body{
    margin: 0;
    padding: 0;
    border: 0;  
    user-select: none;
    min-height: 100%;
    font-family: 'Signika Negative', sans-serif;
    display: block;
}
*{
    box-sizing: border-box;
}
div{
    border: 0;
    padding: 0;
    margin: 0;
}
.container{
    
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 100%;
    min-height: 675px;
}
